@charset "UTF-8";

.accordion-body{
    background-image: url(../images/hiroko-yoshii-9y7y26C-l4Y-unsplash.jpg);
    background-size: cover;
    color: white;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}
.white-background{
    background-color: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.nav-sub{
    display: none;
}
.btnClose{
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #fff;
}
#email-alert{
    display: none;
}
#password-alert{
    display: none;
}