@charset "UTF-8";

.main-background{
    background-image: url(./images/hiroko-yoshii-9y7y26C-l4Y-unsplash.jpg);
    background-size: cover;
    color: white;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}
.white-background{
    background-color: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}